.Header__container{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Header__logo{
        width: 15rem;
        height: max-content;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .Header__links{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 2rem;
        font-weight: 200;

        h6{
            font-weight: 300;
        }
    
        span{
            font-size: 1.2rem;
            font-weight: 400;
            cursor: pointer;
        }

    .Header__write{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        background-color: var(--lightgreen);
        border: 1px solid white;
        

        &:hover{
            border: 1px solid var(--darkteal);
            color: var(--darkteal);
            background-color: white;
            transform: translateY(-5px);
            transition: 0.5s all ease;
        }
    }
    }
}